security:
    enable_authenticator_manager: true
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: "auto"
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        login:
            pattern: ^/api/login
            stateless: true
            json_login:
                check_path: /api/login_check
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
                username_path: email
                password_path: password

        api:
            pattern: ^/api
            stateless: true
            jwt: ~
        
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\UserAuthenticator
            

            logout:
                path: app_logout
                target: /login

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS  }
        - { path: ^/logout, roles: PUBLIC_ACCESS  }
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/docs, roles: PUBLIC_ACCESS }
        - { path: ^/api/register, roles: PUBLIC_ACCESS }
        - {
              path: ^/api/nfts,
              roles: IS_AUTHENTICATED_FULLY,
              method: [POST, PUT, DELETE],
          }
        - {
              path: ^/api/users,
              roles: IS_AUTHENTICATED_FULLY,
              method: [POST, PUT, DELETE],
          }
        
        - { path: ^/api/adresses, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/login_check, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: ROLE_ADMIN }
