{% extends 'base.html.twig' %}

{% block title %}Créer nouvelle catégorie{% endblock %}

{% block pagecontent %}
    <h1>Créer nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a class='btnToBack' href="{{ path('app_category_index') }}">Retour</a>
{% endblock %}
