{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sub-Catégorie{% endblock %}

{% block pagecontent %}
    <h1>Nouvelle Sub-Catégorie</h1>

    {{ include('sub_category/_form.html.twig') }}

    <a class='btnToBack' href="{{ path('app_sub_category_index') }}">Retour</a>
{% endblock %}
