{% extends 'base.html.twig' %}

{% block title %}Nouvelle galerie{% endblock %}

{% block pagecontent %}
    <h1>Nouvelle galerie</h1>

    {{ include('gallery/_form.html.twig') }}

    <a class='btnToBack' href="{{ path('app_gallery_index') }}">Retour</a>
{% endblock %}
