body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    overflow: hidden;


    header {
        background-color: rgb(99, 99, 99);
        width: fit-content;
        height: 100vh;
        padding: 2%;

        .firstContain {
            h1 {
                width: max-content;
                font-size: 2rem;
                padding: 5% auto;
            }
        }

        .secondContain {
            width: fit-content;

            .listNav {
                ul {
                    display: flex;
                    flex-direction: column;

                    list-style: none;

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 1.2rem;
                        margin-top: 1.5rem;
                    }

                }
            }
        }

        .thirdContain {
            margin-top: 3rem;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }
}


.sortable {
    color: #9ee9f3;
    border-color: #9ee9f3;
    background-color: transparent;

    &:hover {
        color: #000000;
        background-color: #ffffff;
    }
}

.btn {
    &.btn-outline-dark {
        color: #9ee9f3;
        border-color: #9ee9f3;
        background-color: transparent;

        &:hover {
            color: #000000;
            background-color: #ffffff;
        }
    }
}



.pagination {
    ul.pagination {
        list-style: none;
        display: flex;
        justify-content: center;


        li.page-item {
            &.disabled {
                .page-link {
                    background-color: #333;
                    color: #777;
                }
            }

            &.active {
                .page-link {
                    background-color: #007bff;
                    border-color: #007bff;
                    color: #fff;

                    &:hover {
                        background-color: #0056b3;
                        border-color: #0056b3;
                    }
                }
            }

            .page-link {
                background-color: #fff;
                border-color: #9ee9f3;
                color: #333;
                padding: 6px 12px;
                text-decoration: none;

                &:hover {
                    background-color: #9ee9f3;
                    border-color: #ccc;
                    color: #333;
                }
            }
        }
    }
}

.tableGeneral {
    width: 100%;

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #b8b8b8;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    th,
    td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    th {

        background-color: #7e7e7e;
        color: #fff;
    }

    tbody tr:nth-child(odd) {
        background-color: #8d8d8d;
    }

    tbody tr:hover {
        background-color: #ffffff;
        color: black;

        td a {
            color: #000000;
        }
    }

    .imgNft {
        width: 120px;      
    }

    .actionBtnContainer {

        display: flex;
        flex-direction: column;
        align-items: center;

        .actionBtn {
            width: fit-content;
            border: #000000 solid 1px;
            background-color: white;
            border-radius: 20px;
            padding: 5%;
            color: rgb(0, 0, 0);
            margin-left: 1rem;
            font-weight: bold;
            text-decoration: none;
            margin: 5%;


            &:hover {
                background-color: back;
                color: #9ee9f3;
            }
        }
    }
}