{% extends 'base.html.twig' %}

{% block title %}Nouvel Nft{% endblock %}

{% block pagecontent %}
    <h1>Nouvel Nft</h1>

    {{ include('nft/_form.html.twig') }}

    <a class='btnToBack'  href="{{ path('app_nft_index') }}">Retour</a>
{% endblock %}
