<!DOCTYPE html>
<html lang="fr">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" type="image/webp" href="{{ asset('assets/logo/logo.webp') }}"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('styles') }}
		{% endblock %}
	</head>

	<body>

		{% block header %}
			{% include 'shared/sidenav.html.twig' %}
		{% endblock %}

		{% block content %}
			<div class="myblackbackground">
				<div class="mygreybackground">
					<div class="mycontainer">
						{% block pagecontent %}{% endblock %}
					</div>
				</div>
			</div>
		{% endblock %}


		{% block javascripts %}
			{{ encore_entry_script_tags('scripts') }}
		{% endblock %}
		
	</body>

</html>
