<header>
	<nav>
		<div class="firstContain">
			<div class="containerH1">
				<h1>Mysthicity</h1>
			</div>
			<div class="containerH2">
				<h2>DashBoard Admin</h2>
			</div>
		</div>


		<div class="secondContain">
			<div class="listNav">
				<ul>
					<li>Utilisateurs</li>
					<li>NFTs</li>
					<li>Galeries</li>
					<li>Catégories</li>
					<li>Sous-Catégories</li>
					<li>Commentaires</li>
					<li>Statistiques</li>
				</ul>

			</div>
		</div>
		<div class="thirdContain">
			<p>Cours ETH</p>
		</div>
	</nav>

</header>
