{% extends 'base.html.twig' %}

{% block title %}New SubCategory
{% endblock %}

{% block pagecontent %}
	<h1>Créer nouvel utilisateur</h1>
		{{ include('user/_form.html.twig') }}
	
	<a class='btnToBack' href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
